.logo-custom-css {
    .logo-dark {
        display: none;
    }

    .coin-logo {
        margin-right: 10px;
    }

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-default {
    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media #{$sm-layout} {
            justify-content: center;
        }
    }

    .mainmenu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .header-right {
        justify-content: flex-end;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .menu-list {
        display: flex;
        list-style: none;
        margin: 0;
        margin-top: 5px;
        margin-left: -10px;

        li {
            margin: 0;

            a {
                transition: var(--transition);
                margin-left: 10px;
                color: #6d6d80;

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }

    .header-right {
        .mainmenu {
            li {
                a {
                    color: #858596;
                    transition: var(--transition);

                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}

.left-header-style {
    .logo-area {
        a {
            img {
                max-width: 450px;
            }
        }
    }
}


.nav__right-cart {
    width: 48px;
    margin-left: 10px;
    svg {
        fill: var(--color-primary) !important;
    }

    &:hover {
        cursor: pointer;
    }
}
