/*------------------------
    Mailmenu Nav  
-------------------------*/
.mainmenu-nav {
    .mainmenu {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 10px;
        justify-content: flex-start;
        flex-wrap: nowrap;

        li {
            margin-top: 0;
            margin-bottom: 0;
            position: relative;

            
                             &:hover {
                            color: var(--color-primary);
                            background: #060606b3;

                            svg,
                            i {
                                opacity: 1;
                                left: 0;
                            }
                        }
            a {
                font-weight: 400;
                padding: 20px 10px;
                font-size: 15px;
                display: block;
                color: var(--color-body);
                margin:0 8px;
                border-radius: 3px;
                transition: var(--transition);
                @media #{$laptop-device} {
                    padding: 20px 6px;
                }
            }
            .submenu {
                min-width: 230px;
                height: auto;
                position: absolute;
                top: 90%;
                left: 0;
                z-index: 90;
                opacity: 0;
                visibility: hidden;
                text-align: left;
                padding: 12px 0;
                transition: .3s;
                border-radius: 0 0 10px 10px;
                background-color: var(--background-color-2);
                border-left: 1px solid #ffffff14;
                border-bottom: 1px solid #ffffff14;
                border-right: 1px solid #ffffff14;
                li {
                    a {
                        font-weight: 400;
                        padding: 4px 14px;
                        display: block;
                        color: #acacac;
                        color: var(--color-body);
                        margin: 0 10px;
                        border-radius: 4px;
                        transition: .3s;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        svg,
                        i {
                            stroke-width: 2px;
                            width: 22px;
                            height: auto;
                            background: transparent;
                            padding: 2px;
                            border-radius: 2px;
                            transition: 0.3s;
                            width: 22px;
                            left: -10px;
                            position: relative;
                            color: var(--color-body);
                            opacity: 0;
                            margin: 0 -3px;
                        }

                        &:hover {
                            color: var(--color-primary);
                            background: #060606b3;

                            svg,
                            i {
                                opacity: 1;
                                left: 0;
                            }
                        }
                    }
                }
            }

            &:hover {
                .submenu {
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }
        }
    }
}

    .header-top-nav { 
        width: 100%; 
        background-color: var(--background-color-2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.0784313725); 
        padding: 4px 0; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }

@media #{$sm-layout} {
    .cbs-logo {
        display: none !important;
    }

    .linkedIn-button {
        display: none !important;
    }
}

@media #{$small-mobile} {
    .cbs-logo {
        display: block !important;
    }


    .header-left {
        display: none !important;
    }
}
