/*--------------------------
    Button Styles 
----------------------------*/
a,
button {
    &.btn {
        display: inline-block;
        font-weight: 500;
        text-align: center;
        font-size: 16px;
        border: none;
        color: var(--color-white);
        // padding: 10px 16px;
        border-radius: 10px;
        transition: var(--transition);
        letter-spacing: 0.5px;
        width: auto;
        border: 0 none;
        box-shadow: none;
        outline: none;

        &.btn-primary {
            background: var(--color-primary);
            color: black;

            &:hover {
                background: var(--color-primary-alta);
                color: var(--color-white);
            }

            &.active {
                &:focus {
                    border: none;
                    box-shadow: none;
                }
            }
        }

        &:focus {
            border: none;
            box-shadow: none;
        }

        &.btn-small {
            padding: 10px 14px;
            width: 200px;
        }

        &.btn-large {
            @media #{$sm-layout} {
                min-width: max-content;
            }

            padding: 14px 14px;
            font-size: 17px;
        }
        &.disabled {
            opacity: 0.7;
            pointer-events: none;
        }
    }
}

.btn-transparent {
    color: var(--color-body);
    transition: 0.4s;
    align-items: center;
    font-weight: 500;
    display: inline-block;
    svg,
    i {
        width: 48px;
        height: 48px;
        font-size: 17px;
    }
    &:hover {
        color: var(--color-primary) !important;
    }
}

.btn-primary-border {
    background: transparent;
    border: 2px solid var(--color-primary);
    padding: 10px 20px;

    &:hover {
        background: var(--color-primary);
        color: var(--color-white) !important;
    }
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

