.cart-table-button {
    border: none;
    font-size: 14px;
    text-align: left;
}

.CartItem__button {
    border: none;
    width: 40px;
    color: rgb(247, 131, 49);
}

.cart-table {
  td {
    border: 1px solid white;
  }
  border: 1px solid white;
}
// .total {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-column-gap: 100px;
//   }
  table {
    width: 70%;
    text-align: center;
  }
  tr {
    text-align: center;
  }
  // th {
  //   padding: 4px 0;
  // }
  td {
    text-align: center;
  }
//   .golden {
//     font-weight: bold;
//     padding: 1px;
//   }
  // .product-name,
  // .product-size {
  //   text-align: left;
  // }
  // .product-name {
  //   padding-top: 36px;
  // }
  // .product-size {
  //   font-weight: 100;
  // }
  // .num {
  //   text-align: right;
  // }
  // button a {
  //   color: white;
  //   transition: 0.3s all ease;
  // }
  // .delete-product,
  // .quantity-adjust:first-of-type,
  // .quantity-adjust:last-of-type {
  //   padding: 5px 7px;
  //   border: none;
  // }
  // .quantity-adjust:first-of-type {
  //   margin-right: 5px;
  // }
  // .quantity-adjust:last-of-type {
  //   margin-left: 5px;
  // }
  // .delete-product:hover {
  //   background-color: rgb(255, 85, 85);
  //   border-radius: 100%;
  //   border: none;
  // }
  // .delete-product:focus,
  // .delete-product:active {
  //   outline: none;
  // }
  @media screen and (min-width: 700px) {
    table {
      width: 95%;
    }
  }
  @media screen and (max-width: 699px) {
  
    table {
      width: 95%;
    }
  }