/*---------------------------
    Banner Area Styles 
-----------------------------*/

.slide {
    padding-bottom: 67px;
    position: relative;
    .content {
        margin-top: 150px;
        @media #{$md-layout} {
            margin-top: 40px;
        }
        @media #{$sm-layout} {
            margin-top: 40px;
        }
        .inner {
            margin-bottom: 142px;
            span {
                &.subtitle {
                    font-size: 14px;
                    font-family: var(--font-secondary);
                    color: var(--color-lightn);
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    font-weight: 300;
                    display: block;
                    margin-bottom: 20px;
                    @media #{$small-mobile} {
                        letter-spacing: 1px;
                    }
                }
            }
            .title {
                color: #ffffff;
                font-weight: 700;
                font-size: 60px;
                line-height: 62px;
                margin-bottom: 22px;
                font-family: var(--font-secondary);

                @media #{$md-layout} {
                    font-size: 50px;
                    line-height: 60px;
                }

                @media #{$sm-layout} {
                    font-size: 50px;
                    line-height: 60px;
                }
                @media #{$small-mobile} {
                    font-size: 32px;
                    line-height: 40px;
                }
                span {
                    color: #ff014f;
                }
                .header-caption {
                    span {
                        color: var(--color-white);
                        font-weight: 600;
                    }
                }
                .span {
                    font-size: 48px;
                    color: var(--color-white);

                    @media #{$small-mobile} {
                        font-size: 24px;
                        line-height: 33px;
                    }
                }
            }
            .description {
                font-size: 16px;
                line-height: 28px;
                color: var(--color-lightn);
                padding-right: 16%;
                opacity: 0.9;
                @media #{$lg-layout} {
                    margin-bottom: 30px;
                }
                @media #{$md-layout} {
                    margin-bottom: 40px;
                }
                @media #{$sm-layout} {
                    margin-bottom: 40px;
                }
            }
        }
    }
    .thumbnail {
        position: relative;
        z-index: 2;
        &::before {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: calc(100% - 130px);
            content: "";
            left: 50%;
            bottom: 0;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background: var(--background-color-1);
            box-shadow: var(--shadow-1);
            border-radius: 6px;
        }
        .inner {
            text-align: center;
            img {
                border: 0;
                vertical-align: middle;
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.thumbnail.style-2::before {
    height: 100%;
}
.thumbnail.style-2 img {
    border-radius: 6px !important;
}
.thumbnail.style-2 .inner {
    padding: 15px;
}
// .thumbnail.masking .inner {
//     -webkit-mask-image: url("../images/icones/shape1.svg");
//     mask-image: url("../images/icones/shape1.svg");
//     -webkit-mask-position: center center;
//     mask-position: center center;
//     -webkit-mask-size: 100%;
//     mask-size: 100%;
//     -webkit-mask-repeat: no-repeat;
//     mask-repeat: no-repeat;
// }
.thumbnail.masking::before {
    display: none;
}

// text blinking start form hear

.cd-intro {
    margin: 4em auto;
}
@media only screen and (min-width: 768px) {
    .cd-intro {
        margin: 5em auto;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-intro {
        margin: 6em auto;
    }
}
.cd-headline {
    font-size: 3rem;
    line-height: 1.2;
}
@media only screen and (min-width: 768px) {
    .cd-headline {
        font-size: 4.4rem;
        font-weight: 300;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-headline {
        font-size: 48px;
    }
}
@media only screen and (max-width: 768px) {
    .cd-headline {
        font-size: 22px;
    }
}
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}
.cd-words-wrapper b.is-visible {
    position: relative;
}
.no-js .cd-words-wrapper b {
    opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}
/* -------------------------------- 

xclip 

-------------------------------- */